:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
section {
  display: block;
}
.dark_section {
  background-color: darkred;
}
.video_section {
  padding-top: 90px;
}
.header {
  width: 100%;
  background-color: black;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.container_welcome {
  position: relative;
}
.header-container {
  height: 150px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bg {
  position: absolute;
  width: 100%;
  height: 150px;
  left: -240px;
  top: 0px;
  z-index: -1;

  background: #030303;
}
#logo {
  position: relative;
}
#logo_text {
  position: absolute;
  width: 125px;
  height: 31px;
  left: 74px;
  top: -20px;
  margin-top: 20px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
}
.logo_icon {
  position: absolute;
  width: 50px;
  height: 34px;
  background-size: contain;
  background-image: url('assets/svg/logo\ \(1\).svg');
}
#navigation {
  position: relative;
  width: 777px;
}
ul {
  display: flex;
  max-width: 720px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nv_text_format {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;

  letter-spacing: 2px;

  color: #ffffff;
}
#container_monalisa {
  height: 750px;
}
#img_monalisa {
  position: absolute;
  width: 1000px;
  height: 750px;
  right: 0px;
  top: 0px;
  background-position: calc(100% - 20px) calc(100% - 10px);
  background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.5) 16.19%,
      rgba(0, 0, 0, 0) 30.73%
    ),
    url(assets/img/monalisa.png);
}
#slider_pagination {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 600px;
  height: 120px;
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
}
#arrows {
  position: absolute;
  width: 80px;
  height: 8px;
  left: 845px;
  top: 746px;
  /* z-index: -1; */
}
.arrow_container {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.welcome_arrow {
  width: 30px;
  height: 8px;
  content: url(assets/svg/left_arrow.svg);
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: inherit;
  overflow: hidden;
  cursor: pointer;
}
#left {
  right: 124px;
}
#right {
  transform: rotate(180deg);
}
.slider_container {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
  margin-right: 60px;
}
.welcome_slider {
  /* position: absolute; */
  width: 16px;
  height: 16px;
  background-size: contain;
}
.welcome_white_slider {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
}
.welcome_beige_slider {
  width: 16px;
  height: 16px;
  background-color: #d2b183;
  cursor: pointer;
}
/* #white_first {
  right: 215px;
  bottom: 52px;
}
#white_second {
  right: 256px;
  bottom: 52px;
}
#white_third {
  right: 297px;
  bottom: 52px;
}
#white_fourth {
  right: 338px;
  bottom: 52px;
} */
#beige {
  /* right: 379px;
  bottom: 52px; */
  background: #d2b183;
  background-image: url('assets/svg/slider2.svg');
}
#slider_num {
  position: absolute;
  width: 76px;
  height: 40px;
  right: 446px;
  bottom: 36px;

  background: #ffffff;
  background-size: contain;
  background-image: url('assets/svg/num.svg');
}
#carousel_pagination {
  position: absolute;
  width: 180px;
  height: 16px;
  left: 205px;
  right: 215px;
  top: 52px;
  bottom: 52px;
}
#welcome_slide_num {
  position: absolute;
  width: 76px;
  height: 40px;
  left: 78px;
  top: 44px;
  bottom: 36px;
}
#container_welcome_header {
  position: absolute;
  width: 598px;
  height: 388px;
  left: 0px;
  top: 150px;
}
#welcome_header {
  position: absolute;
  width: 593px;
  height: 180px;
  left: 0px;
  top: 0px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* or 112% */

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
}
#welcome_p {
  position: absolute;
  width: 445px;
  height: 33px;
  left: 0px;
  top: 205px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #ffffff;
}
#button_discover {
  position: absolute;
  width: 360px;
  height: 75px;
  left: 0px;
  bottom: 0px;

  background: #710707;
  border-radius: 10px;
}
#button_discover_text {
  position: absolute;
  width: 232px;
  height: 75px;
  left: 64px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;

  color: #ffffff;
}
h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  /* color: #ffffff; */
}
h3 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
#nv_visiting {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 0px;
  top: 0px;
}
#nv_explore {
  position: absolute;
  width: 84px;
  height: 26px;
  left: 140px;
  top: 0px;
}
#nv_video {
  position: absolute;
  width: 63px;
  height: 26px;
  left: 279px;
  top: 0px;
}
#nv_gallery {
  position: absolute;
  width: 84px;
  height: 26px;
  left: 397px;
  top: 0px;
}
#nv_tickets {
  position: absolute;
  width: 82px;
  height: 26px;
  left: 536px;
  top: 0px;
}
#nv_contacts {
  position: absolute;
  width: 102px;
  height: 26px;
  left: 673px;
  top: 0px;
}
main {
  width: 100%;
  height: 8717px;
  top: 150px;
}
#bg_welcome {
  position: absolute;
  width: 1920px;
  height: 842px;
  left: -240px;
  top: -32px;
  z-index: -1;
  background: #030303;
}
.footer {
  position: absolute;
  width: 1440px;
  height: 392px;
  left: 240px;
  top: 8942px;
}
.section-title {
  font-size: var(--font1);
  color: var(--font-gold);
}
#section_welcome {
  height: 810px;
  background-color: #000000;
}
.container_visiting {
  padding-top: 75px;
  padding-bottom: 75px;
}
#container_visiting_cards {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 78px;
  transition: 1s;
}
#section2-title {
  position: relative;
  font-size: 80px;
  line-height: 90px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9d8665;
}
#visiting_title {
  color: #9d8665;
}
.visiting_card {
  width: 440px;
  height: 422px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.visiting_cards_text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
#visiting_text_top {
  padding-top: 10px;
  font-size: 22px;
  line-height: 26px;
}
#visiting_text_bot {
  font-size: 18px;
  line-height: 21px;
}
p {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
}
#visiting_rectangle {
  /* position: absolute; */
  width: 1440px;
  height: 3px;
  left: 0px;
  top: 115px;
  background: #710707;
  border-radius: 0px;
}
#explore {
  position: relative;
  height: 810px;
  margin: 0 auto;
  background-color: black;
  z-index: -1;
}

#explore_container {
  position: relative;
  max-width: 1440px;
  /* height: 715px; */
  margin: 0 auto;
}

#explore_title {
  position: absolute;
  width: 660px;
  height: 90px;
  left: 0px;
  top: 75px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 90px;
  /* identical to box height, or 112% */

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
}

#explore_rectangle {
  position: absolute;
  width: 660px;
  height: 3px;
  left: 0px;
  top: 190px;

  background: #710707;
  border-radius: 0px;
}

#explore_text_1 {
  position: absolute;
  width: 660px;
  height: 77px;
  left: 0px;
  top: 268px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */

  color: #ffffff;
}
#explore_text_2 {
  position: absolute;
  width: 660px;
  height: 77px;
  left: 0px;
  top: 370px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */

  color: #ffffff;
}
#explore_text_3 {
  position: absolute;
  width: 660px;
  height: 77px;
  left: 0px;
  top: 472px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */

  color: #ffffff;
}
#explore_img1 {
  position: absolute;
  width: 440px;
  height: 700px;
  left: 720px;
  top: 90px;

  background: url(/assets/img/explore1.png);
  background-size: contain;
  border-radius: 0px;
}

#explore_img2 {
  position: absolute;
  width: 720px;
  height: 700px;
  left: 720px;
  top: 90px;

  background: url(/assets/img/explore2.png);
  background-size: contain;
  border-radius: 0px;
  z-index: -1;
}

#explore_vertical_slider {
  position: absolute;
  width: 39px;
  height: 700px;
  left: 1141px;
  top: 90px;

  background: #ffffff;
  background-image: url('assets/img/explore-rectangle.png');
}
#video {
  position: relative;
  max-width: 1440px;
  height: 1246px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
}
#container_video {
}
#video_title {
  top: 0px;
  left: 0px;
  width: 605px;
  height: 90px;
  position: absolute;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 90px;
  /* identical to box height, or 112% */

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #9d8665;
}
#video_text {
  top: 0px;
  right: 0px;
  width: 720px;
  height: 90px;
  position: absolute;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */

  display: flex;
  align-items: center;

  color: #000000;
}
#video_img {
  position: absolute;
  width: 1440px;
  height: 650px;
  left: 0px;
  top: 165px;

  background: url(assets/img/journey_video.png);
  border-radius: 0px;
  background-size: contain;
}
#video_player {
  position: absolute;
  width: 1440px;
  height: 85px;
  left: 0px;
  top: 815px;
  background: url(assets/img/journey-player.png);
  background-size: contain;
}
#video_player_video {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 610px;
  top: 380px;

  border-radius: 0px;
  background-image: url(assets/svg/journey-player-video.svg);
  background-size: contain;
  /* background-color: white; */
}
.video_video {
  position: absolute;
  width: 452px;
  height: 254px;
  top: 940px;
  background-size: contain;
}
#video_video1 {
  left: 0px;
  background-image: url(assets/img/journey-youtube-video1.png);
}
#video_video2 {
  left: 494px;
  background-image: url(assets/img/journey-youtube-video2.png);
}
#video_video3 {
  left: 988px;
  background-image: url(assets/img/journey-youtube-video3.png);
}
.video_play_button {
  position: absolute;
  width: 68px;
  height: 48px;
  top: 1043px;
  border-radius: 0px;
  background-image: url(assets/svg/journey-youtube-player.svg);
  background-size: contain;
  background-color: white;
}
#video_play_button_1 {
  left: 192px;
}
#video_play_button_2 {
  left: 686px;
}
#video_play_button_3 {
  left: 1180px;
}
.video_slider {
  position: absolute;
  width: 10px;
  height: 12px;
  top: 1234px;
  background: #999999;
  border-radius: 0px;
  background-image: url(assets/svg/journey-slider-arrows.svg);
  background-size: contain;
}
#video_slider_arrows_1 {
  left: 620px;
  transform: rotate(-180deg);
}
#video_slider_arrows_2 {
  left: 810px;
}
.video_slider {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 1234px;

  border-radius: 0px;
  background-image: url(assets/svg/journey-slider-grey.svg);
  background-size: contain;
}
.video_slider_grey {
  background: #999999;
}
#video_slider_grey_1 {
  left: 682px;
}
#video_slider_grey_2 {
  left: 714px;
}
#video_slider_grey_3 {
  left: 746px;
}
#video_slider_grey_4 {
  left: 778px;
}
#video_slider_black {
  left: 650px;
  background-image: url(assets/svg/journey-slider-black.svg);
}
#gallery {
  position: relative;
  /* max-width: 1440px; */
  height: 2500px;
  /* left: 0px; */
  /* top: 4337px; */
  margin: 0 auto;
  background-color: black;
}
.container_galery {
  position: relative;
  column-gap: 36px;
  column-count: 3;
}
#gallery_title {
  padding-top: 75px;
  color: #ffffff;
}
.galery_image {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
  border-radius: 0px;
}
#gallery_img_1 {
  width: 456px;
  height: 570px;
  background: url(assets/img/gallery-img1.png);
  background-size: contain;
}
#gallery_img_2 {
  width: 456px;
  height: 456px;
  background: url(assets/img/gallery-img2.png);
  background-size: contain;
}
#gallery_img_3 {
  width: 456px;
  height: 570px;
  background: url(assets/img/gallery-img3.png);
  background-size: contain;
}
#gallery_img_4 {
  width: 456px;
  height: 570px;
  margin-top: 710px;
  background: url(assets/img/gallery-img4.png);
  background-size: contain;
}
#gallery_img_5 {
  width: 456px;
  height: 570px;
  background: url(assets/img/gallery-img5.png);
  background-size: contain;
}
#gallery_img_6 {
  width: 456px;
  height: 456px;
  background: url(assets/img/gallery-img6.png);
  background-size: contain;
}
#gallery_img_7 {
  width: 456px;
  height: 456px;
  background: url(assets/img/gallery-img7.png);
  background-size: contain;
}
#gallery_img_8 {
  width: 456px;
  height: 570px;
  margin-top: 75px;
  background: url(assets/img/gallery-img8.png);
  background-size: contain;
}
#gallery_img_9 {
  width: 456px;
  height: 456px;
  background: url(assets/img/gallery-img9.png);
  background-size: contain;
}
#gallery_img_10 {
  width: 456px;
  height: 242px;
  background: url(assets/img/gallery-img10.png);
  background-size: contain;
}
#gallery_img_11 {
  width: 456px;
  height: 292px;
  background: url(assets/img/gallery-img11.png);
  background-size: contain;
}
#gallery_img_12 {
  width: 456px;
  height: 342px;
  background: url(assets/img/gallery-img12.png);
  background-size: contain;
}
#gallery_rectangle_gradient {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 1440px;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
#tickets {
  /* position: absolute; */
  width: 100%;
}
.tickets p {
  padding-bottom: 52px;
  font-weight: bold;
  letter-spacing: 0;
  color: #000000;
}
.container_radio {
  display: block;
  position: relative;
  padding-left: 38px;
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.ticket_sum {
  color: black;
}
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
}
.buy-button {
  width: 175px;
  height: 50px;
  margin-top: 50px;
  background: #000000;
  border-radius: 2px;
  border: none;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  display: inline-block;
}
#tickets_container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}
#tickets_container_2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#tickets_container_3 {
  width: 660px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tickets_counter {
  width: 150px;
  height: 50px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
}
.counter_content {
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 11px;
  color: #000000;
}
.ticket-counter-button {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.number {
  all: unset;
  width: 2em;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
#tickets_title {
  width: 472px;
  height: 90px;
  left: 0px;
  top: 0px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 90px;
  /* identical to box height, or 112% */

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #9d8665;
}
#tickets_rectangle {
  /* position: absolute; */
  width: 1440px;
  height: 3px;
  left: 0px;
  top: 115px;

  background: #710707;
  border-radius: 0px;
  margin-bottom: 75px;
}
#tickets_img {
  /* position: absolute; */
  width: 720px;
  height: 550px;
  left: 0px;
  top: 193px;

  background: url(assets/img/tickets-img.png);
  border-radius: 0px;
  background-size: contain;
}
#ticket_radio_container {
  /* position: absolute; */
  width: 270px;
  height: 211px;
  left: 780px;
  top: 193px;
}

.ticket-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

/* .ticket-type {
  position: absolute;
  width: 156px;
  height: 33px;
  left: 780px;
  top: 193px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}
.ticket-type1 {
  position: absolute;
  width: 230px;
  height: 26px;
  left: 820px;
  top: 276px;
}
.ticket-type2 {
  position: absolute;
  width: 230px;
  height: 26px;
  left: 820px;
  top: 327px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #000000;
}
.ticket-type3 {
  position: absolute;
  width: 230px;
  height: 26px;
  left: 820px;
  top: 378px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #000000;
}
*/

.amount {
  /* position: absolute; */
  width: 100px;
  height: 33px;
  right: 0px;
  top: 193px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}
.basic-18 {
  /* position: absolute; */
  width: 150px;
  height: 26px;
  right: 0px;
  top: 251px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}
.ticket-box1 {
}
.senior-65 {
  /* position: absolute; */
  width: 150px;
  height: 26px;
  right: 0px;
  top: 352px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}
.ticket-box2 {
}
.ticket-total {
  /* position: absolute; */
  width: 150px;
  height: 33px;
  right: 0px;
  top: 493px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 1.65px;

  color: #000000;
}
.ticket-button-buy {
  /* position: absolute; */
  width: 175px;
  height: 50px;
  right: 0px;
  top: 586px;

  background-image: url(assets/img/ticket-button-buy.png);
  background-size: contain;
  border-radius: 0px;
}
.ticket-rectangle1 {
  /* position: absolute; */
  width: 150px;
  height: 50px;
  right: 0px;
  top: 292px;

  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
}
.ticket-rectangle2 {
  /* position: absolute; */
  width: 150px;
  height: 50px;
  right: 0px;
  top: 393px;

  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
}
.ticket-rectangle1-num1 {
  /* position: absolute; */
  width: 12px;
  height: 26px;
  left: 1359px;
  top: 304px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.ticket-rectangle2-num1 {
  /* position: absolute; */
  width: 12px;
  height: 26px;
  left: 1359px;
  top: 405px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.ticket-rectangle1-plus {
  /* position: absolute; */
  width: 19px;
  height: 38px;
  left: 1407px;
  top: 298px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.ticket-rectangle2-plus {
  /* position: absolute; */
  width: 19px;
  height: 38px;
  left: 1407px;
  top: 399px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.ticket-rectangle1-minus {
  /* position: absolute; */
  width: 18px;
  height: 38px;
  left: 1304px;
  top: 298px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.ticket-rectangle2-minus {
  /* position: absolute; */
  width: 18px;
  height: 38px;
  left: 1304px;
  top: 399px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/img/parallax.jpg);
  background-size: cover;
}
#contacts {
  height: 813px;
  width: 100%;
  margin: 0 auto;
}
.contacts-title {
  /* position: absolute; */
  width: 397px;
  height: 90px;
  left: 0px;
  top: 0px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 90px;
  /* identical to box height, or 112% */

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #9d8665;
}
.contacts-rectangle {
  /* position: absolute; */
  width: 1440px;
  height: 3px;
  left: 0px;
  top: 115px;

  background: #710707;
  border-radius: 0px;
}
.contacts-p-title {
  /* position: absolute; */
  width: 227px;
  height: 66px;
  left: 0px;
  top: 193px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}
.contacts-p-adress {
  /* position: absolute; */
  width: 282px;
  height: 26px;
  left: 0px;
  top: 309px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}
.contacts-p-phone {
  /* position: absolute; */
  width: 271px;
  height: 26px;
  left: 0px;
  top: 360px;

  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #000000;
}
.contacts-p-mail {
  width: 193.98px;
  height: 26px;
  left: 0px;
  top: 411px;

  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #000000;
}
.contacts-map {
  width: 960px;
  height: 620px;
  right: 0px;
  bottom: 0px;

  background: url(assets/img/contacts-map.png);
  background-size: contain;
  border-radius: 0px;
}
.contacts_container {
  padding-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts_container_main {
  margin: 0 auto;
  max-width: 1440px;
}
body {
  display: block;
}
footer {
  width: 100%;
  position: relative;
  margin-top: 230px;
  background-color: black;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
  max-width: 1440px;
}

#footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}
#footer-logo_text {
  position: absolute;
  width: 120px;
  height: 31px;
  left: 75px;
  top: 0px;
  margin-top: 15px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-logo_icon {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 50px;
  height: 34px;

  background-size: contain;
  background-image: url('assets/svg/logo\ \(1\).svg');
}
#footer-navigation {
  width: 366px;
  margin-right: 700px;
  margin: 0px;
}
.links {
  height: 150px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nv-visiting {
  font-size: 22px;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.footer-nv-explore {
  font-size: 22px;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.footer-nv-video {
  font-size: 22px;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.footer-nv-gallery {
  font-size: 22px;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.footer-nv-tickets {
  font-size: 22px;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.footer-nv-contacts {
  font-size: 22px;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#social-icons {
  width: 340px;
  padding-top: 88px;
  display: flex;
  justify-content: space-between;
}

#footer-social-youtube-logo {
  width: 48px;
  height: 48px;

  background-image: url(assets/svg/Youtube.svg);
}
#footer-social-insta-logo {
  width: 48px;
  height: 48px;

  background-image: url(assets/svg/insta.svg);
}
#footer-social-facebook-logo {
  width: 48px;
  height: 48px;

  background-image: url(assets/svg/facebook.svg);
  background-size: contain;
}
#footer-social-twitter-logo {
  width: 48px;
  height: 48px;

  background-image: url(assets/svg/twitter.svg);
  background-size: contain;
}
#footer-social-pinterest-logo {
  width: 48px;
  height: 48px;

  background-image: url(assets/svg/pinterest.svg);
  background-size: contain;
}
hr {
  border: 3px solid #666666;
  border-bottom-width: 0;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  margin: 0px;
}
#footer-last-string {
  width: 100%;
  background-color: black;
}
.footer-last-string-box {
  padding: 1px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.footer-last-string-text {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}
